[submodule "csapprox"]
	path = vim/pack/musthave/start/csapprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "commentary"]
	path = vim/pack/musthave/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "fugitive"]
	path = vim/pack/musthave/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "repeat"]
	path = vim/pack/musthave/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "surround"]
	path = vim/pack/musthave/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dispatch"]
	path = vim/pack/bundle/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "exchange"]
	path = vim/pack/bundle/start/exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "pset"]
	path = vim/pack/bundle/start/pset
	url = https://github.com/ajzafar/vim-pset.git
[submodule "snipmate"]
	path = vim/pack/bundle/start/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "tabular"]
	path = vim/pack/bundle/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "unimpaired"]
	path = vim/pack/bundle/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vspec"]
	path = vim/pack/bundle/opt/vim-vspec
	url = https://github.com/kana/vim-vspec.git
[submodule "mw-utils"]
	path = vim/pack/dep/start/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "splitjoin"]
	path = vim/pack/bundle/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "tlib"]
	path = vim/pack/dep/opt/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "sideways"]
	path = vim/pack/bundle/start/sideways
	url = https://github.com/AndrewRadev/sideways.vim.git
