backgrounds
easytag
epdfview
evince
google-*
gtk-2.0
irssi
menus
pavucontrol.ini
projectM
Risk_of_Rain
sekrit
Skype
ssh
transmission-daemon
Trolltech.conf
vlc
xfce4
spotify
unity3d/
Mumble
CSDSteamBuild
nuclearthrone
Crazy Viking Studios
