snippet fun
	function! ${1:function_name}(${2:args})
		${0:" code}
	endfunction
snippet for
	for ${1:needle} in ${2:haystack}
		${0:" code}
	endfor
snippet while
	while ${1:condition}
		${0:" code}
	endwhile
snippet if
	if ${1:condition}
		${0:" code}
	endif
snippet guard
	if exists('${1:did_`Filename()`}') || &cp${2: || version < 700}
		finish
	endif
	let $1 = 1
